<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/signin.css">
</head>
<body>
<div class="container">
    <form class="form-signin" action="" method="post" novalidate>
        {% csrf_token %}
        <h2 class="form-signin-heading">Please Login</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" name='username' placeholder="Username" required=""
               autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name='password' placeholder="Password"
               required="">

        <input type="text" id="" class="form-control" name='code' placeholder="" required="">
        <img src="/code/" title="看不清换一张" onclick="changeCode(this);">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <div class="text-danger pull-right">{{ msg }}</div>
    </form>
</div>
<script type="text/javascript">
    function changeCode(ths) {
        ths.src += '?';
    }
</script>
</body>
</html>